In [1]:
my_string = 'huy ko an cut dau '

In [2]:
my_string[0]

'h'

In [3]:
my_string[::-1]

' uad tuc na ok yuh'

In [5]:
s = f'huy huy huy{my_string}'

In [6]:
s

'huy huy huyhuy ko an cut dau '

In [11]:
for i,string in enumerate(s) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [35]:
num = 223.265261

In [23]:
'day la so cua t {:1.2f}'.format(num)

'day la so cua t 3.27'

In [30]:
f'day la so cua t {num:{10}.{6}}'

'day la so cua t    3.26526'

In [36]:
f'day la so cua t {num:{10}.{}}'

'day la so cua t    2.2e+02'

In [39]:
[0,1,5,6,9,8,5,6][::-1]

[6, 5, 8, 9, 6, 5, 1, 0]

In [40]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [47]:
[row[0] for row in m]

[1, 4, 7]

In [60]:
my_dict = {'a':1,'b':2,'c':3}

In [65]:
for i,v in my_dict.items():
    print(i)
    print(v)

a
1
b
2
c
3

In [50]:
my_dict['a']

1

In [53]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [54]:
list(a**2 for a in range(0,100))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [56]:
t= tuple(a**2 for a in range(0,100))

In [57]:
t.count(0)

1

In [58]:
t=set(t)

In [59]:
t

{0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801}

In [66]:
'word'.split()

['word']