lambda expression dung 1 lan thoi ko dung lai nua

Map and Filter

In [1]:
def my_func(num):
    return num*2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(my_func,my_nums)

In [4]:
my_nums

[1, 2, 3, 4, 5]

In [5]:
for i in map(my_func,my_nums):
    print(i)

2
4
6
8
10

In [7]:
list(map(my_func,my_nums))

[2, 4, 6, 8, 10]

In [9]:
def splicer(mystring):
    if len(mystring)%2==0 :
        return 'EVEN'
    else:
        return mystring[0]

In [10]:
name = ['huy','ha','asido']

In [11]:
list(map(splicer,name))

['h', 'EVEN', 'a']

maps function: nó thay input là 1 list vô 1 hàm rồi trả về 1 list toàn những kết quả của hàm

filter : nó sẽ kiểm tra kết quả output của hàm có sẵn từ 1 list đầu vô rồi return những giá trị true

function dung cho filter phai return true or false

lambda expression dung de sai 1 lan ko can phai dat ten ham, thuong dung chung voi filter and map

In [12]:
double = lambda num: num*2

In [13]:
double(2)

4

In [15]:
list(map(lambda num: num*2, my_nums))

[2, 4, 6, 8, 10]

vaiz lozzzzzz

In [17]:
list(filter(lambda name:'h' in name,['huy','ha','asidiuasd','hung']))

['huy', 'ha', 'hung']

In [18]:
lst = [x for x in range(0,101)]

In [22]:
list(map (lambda x: x/2,lst))

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.5,
 22.0,
 22.5,
 23.0,
 23.5,
 24.0,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 27.0,
 27.5,
 28.0,
 28.5,
 29.0,
 29.5,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 35.0,
 35.5,
 36.0,
 36.5,
 37.0,
 37.5,
 38.0,
 38.5,
 39.0,
 39.5,
 40.0,
 40.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 43.5,
 44.0,
 44.5,
 45.0,
 45.5,
 46.0,
 46.5,
 47.0,
 47.5,
 48.0,
 48.5,
 49.0,
 49.5,
 50.0]